{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="my-5">Задание к лабораторной работе</h1>
        
        <p class="fw-bold">
            1. Отображение данных запроса.
        </p>

        <p>Добавьте в приложение страницы, на которых отображаются:</p>

        <ul class="my-3">
            <li>параметры URL,</li>
            <li>заголовки запроса,</li>
            <li>cookie,</li>
            <li>параметры формы.</li>
        </ul>

        <p>
            На странице "Cookie" нужно устанавливать значение какого-то определённого
            куки (на ваше усмотрение), если оно не было установлено ранее, и удалять,
            если оно было установлено.
        </p>

        <p class="fw-bold">
            2. Форма с обработкой ошибок.
        </p>

        <p>
            Создайте страницу с формой для ввода номера телефона. Форма должна состоять
            из текстового поля и кнопки «Проверить». По нажатию на кнопку данные формы
            должны отправляться на сервер при помощи метода POST.
        </p>

        <p>
            На стороне сервера необходимо реализовать проверку, что в поле введён номер
            телефона заданного формата:
        </p>

        <ul class="my-3">
            <li>имеет длину 10-11 цифр,</li>
            <li>может содержать дополнительные символы: пробелы, круглые скобки, дефисы, точки, +.</li>
        </ul>
        
        <p>
            Если номер не соответствует формату – выводить сообщение об ошибке. Сообщение
            об ошибке должно быть разным в зависимости от типа ошибки:
        </p>
        
        <ul class="my-3">
            <li>
                «Недопустимый ввод. Неверное количество цифр.» – если в номере не 10
                или 11 цифр (номер должен содержать 11 цифр если он начинается с «+7»
                или «8», в остальных случаях – 10 цифр),
            </li>
            <li>
                может содержать дополнительные символы: пробелы, круглые скобки,
                дефисы, точки, +.
            </li>
        </ul>

        <p>Проверку на другие типы ошибок (не приведённые выше) проводить не нужно.</p>

        <p>В случае обнаружения ошибки использовать использовать стандартные классы фреймворка Bootstrap:</p>

        <ul class="my-3">
            <li>класс is-invalid для подсвечивания поля формы,</li>
            <li>класс invalid-feedback для контейнера с текстом сообщения об ошибке.</li>
        </ul>

        <p>
            Подробнее об этих классах можно почитать в
            <a href="https://getbootstrap.com/docs/5.1/forms/validation/">документации.</a>
        </p>

        <p>
            Преобразовывать введённый номер к формату 8-***-***-**-** и выводить.
            Ниже представлены примеры допустимых форматов ввода номера телефона.
        </p>

        <pre class="fw-bold text-start">
            # +7 (123) 456-75-90
            # 8(123)4567590
            # 123.456.75.90
        </pre>

        <p class="fw-bold">
            3. Напишите тесты для реализованного функционала. Проверьте следующие аспекты:
        </p>

        <ul class="my-3">
            <li>На странице "Параметры URL" отображаются все переданные в запросе параметры;</li>
            <li>На странице "Заголовки запроса" отображаются все заголовки запроса (названия и значения);</li>
            <li>На странице "Cookie" корректно устанавливается и удаляется значение куки в соответствии с заданием;</li>
            <li>На странице "Параметры формы" отображаются введённые пользователем значения после отправки формы;</li>
            <li>Валидация и форматирование номера телефона работают коррекно при любых возможных входных данных (проверить принципиально различные варианты);</li>
            <li>На странице с валидацией номера телефона в случае возникновения ошибки выводится соответствующее сообщение об ошибке и используются соответствующие классы Bootstrap (см. задание);</li>
            <li>На странице с валидацией номера телефона в случае ввода корректного номера выводится отформатированный номер.</li>
        </ul>

        <p>В результате у вас должно получиться не менее 15 тестов.</p>

        <p>
            Выложите ваше веб-приложение на хостинг. В качестве ответа на соответствующее этой лабораторной работе задание в LMS 
            вам нужно указать ссылку на репозиторий с вашим решением и ссылку на ваше приложение на хостинге. В 
            случае, если репозиторий закрытый, – не забудьте предоставить преподавателю доступ.
        </p>
    </div>
</div>
{% endblock %}